<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Rol:</strong>
    <%= user.role %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Contraseña:</strong>
    <%= user.password %>
  </p>

</div>
