<h1 class="text-center">¿Olvidaste tú contraseña?</h1>
<div class="text-muted text-center mb-4">
  Ingresa tú correo electrónico para enviar las instrucciones de restablecimiento de contraseña.
</div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :email, "Correo electrónico", class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-lg fs-15px", placeholder:"correo@dominio.com" %>
  </div>

  <button type="submit" class="btn btn-theme btn-lg d-block w-100 fw-500 mb-3">Enviar instrucciones</button>
<% end %>

<%= render "devise/shared/links" %>